@import "../partials/variables"

.wrapper-dashboard
  max-width: 1140px

.img-course
  width: 150px
  min-width: 150px
  height: auto

.price
  font-size: 1.6rem

.circle-progress
  color: $blue
  height: 55px
  width: 55px
  min-width: 55px
  margin: 5px 0

.lesson-progress
  z-index: 1
  .circle-progress
    border: 7px solid $blue_light
  &:not(:last-child)
    .circle-progress
      &:after
        content: ""
        display: block
        position: absolute
        top: 50%
        left: calc(50% - 2px)
        height: 35px
        width: 4px
        background-color: $blue_light
        z-index: -1
  &.done
    .circle-progress
      border: 7px solid #73ff93
  &.fail
    .circle-progress
      border: 7px solid $blue_light
  &:not(:first-child)
      .circle-progress:before
        content: ""
        display: block
        position: absolute
        top: -13px
        left: calc(50% - 2px)
        height: 35px
        width: 4px
        background-color: $blue_light
        z-index: -1


.dashboard-course-name
  font-size: 1.6rem
  i
    font-size: 1rem

.lessons-list
  max-height: calc( 65px * 3 )
  overflow-y: hidden
  &.open
    max-height: 100%