@import "../partials/variables"

.wizard-content
  max-width: 1920px

[data-action="remove-contact"]:hover,
[data-action="remove-contact"]:focus 
  text-decoration: none

.popover.note
  width: 20%
  max-width: 20%
  border: none
  border-radius: 0
  box-shadow: none
  background-color: #effbea
  background-color: $blue_light
  padding: 1rem
  .popover-body
    border: none
    padding: 0.75rem 0
    font-size: 1rem
    color: $grey
  .popover-header
    padding: 0
    background-color: transparent
    border-bottom: none
    border-radius: 0
    font-weight: 700
    font-size: 1.2rem
    line-height: 1.3rem
    color: $black
    display: flex
    align-content: center
    &:before
      content: '\e906'
      font-family: 'courses-icon', sans-serif
      color: $white
      background-color: #78CDD2
      border-radius: 50%
      line-height: 40px
      width: 40px
      height: 40px
      padding: 0 0.4rem
      margin-right: 1rem
      font-size: 2rem
  @media screen and (max-width: 992px)
    display: none


/****END NOTES****/

.progress-menu-nav
  top: 0

.selectize-multi > div 
  height: auto

.affix
  top: 60px
  padding-right: 20px

.step-map 
  height: 240px

.progress-steps 
  display: flex
  justify-content: space-between
  margin-bottom: 20px


.progress-menu
  margin-bottom: 30px
  a.list-group-item
    display: block
    padding: 10px 20px 5px
    color: #000
    font-size: 14px
    min-height: 40px
    line-height: 20px
    background-color: #f2f2f2
    border: 1px solid #ededed
    border-bottom: 2px solid #ededed
    position: relative
    &:hover, &:focus
      color: #000
    &.active
      background-color: $white
      border-color: #ededed
    &.ok .good-mark,
    &.step-error .progress-error
      display: block

.good-mark 
  /*display: none*/
  color: #03c04a
  font-size: 16px
  position: absolute
  right: 15px
  top: 12px

.progress-error 
  /*display: none*/
  color: #c42020
  position: absolute
  right: 15px
  top: 12px
  line-height: 15px

.wizard-step-header 
  font-size: 18px
  line-height: 18px
  border-bottom: 3px solid #f2f2f2
  margin-bottom: 15px
  padding-bottom: 15px
  color: #000
  letter-spacing: 0.02em

.wizard-step-header span 
  font-size: 14px
  color: #888

.subtype-step 
  display: none

.subtype-step.active 
  display: block

.wizard-photo-small-preview 
  width: 100px
  height: 100px
  margin: 5px

.wizard-photo-small-preview img 
  width: 100%

.plus-phone 
  padding-right: 50px
  position: relative

.plus-phone .input-group-addon 
  font-size: 20px
  background-color: #fff
  cursor: pointer

.plus-btn 
  right: 0
  top: 0
  position: absolute
  background-color: #e33989
  line-height: 35px
  width: 35px
  color: #fff
  font-size: 18px
  border-radius: 3px
  height: 35px
  cursor: pointer

.plus-phone-block:not(:last-child) .plus-btn 
  display: none

.plus-btn:hover,
.plus-btn:focus 
  color: #fff
  text-decoration: none

.plus-comment-btn 
  line-height: 20px
  white-space: nowrap

.plus-comment 
  margin: 20px 0

.plus-comment input 
  display: none

.pre-view 
  margin: 20px 0
  font-size: 17px




