@import "../partials/variables"

.wrapper-test
  max-width: 900px

.h1-test
  font-size: 1.4rem

.hint
  margin-bottom: -2px
  &[aria-expanded="true"]
    .hint-text
      display: none
    i
      background-color: $blue_light
      border: 1px solid $blue
      border-bottom: none

.collapse-hint
  margin-top: -1px
  border-bottom: 1px solid $blue
  border-top: 1px solid $blue

.wrapper-test
  img
    width: 100%
    margin: 30px 0

.modal
  &.modal-dark
    background: rgba(0, 0, 0, 0.9)
    .modal-content, .modal-footer
      background-color: transparent
    .close
      color: $white
      opacity: 1
      right: 20px
      top: 20px
      position: absolute

