@import "../partials/variables"

.button
  position: relative
  color: $white
  background-color: $black
  font-size: 1rem
  line-height: 1em
  letter-spacing: .03em
  font-weight: $bold
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out
  transition: color .2s ease-in-out,background-color .2s ease-in-out
  border-radius: 10px
  padding: 20px 38px
  cursor: pointer
  &.font-big
    font-size: 1.4rem
  &.small
    padding: 10px
    border-radius: 5px
  &.with-arrow
    span
      padding-right: 30px
      -webkit-transition: padding .17s 80ms ease-in-out
      transition: padding .17s 80ms ease-in-out
    svg
      position: absolute
      width: 25px
      shape-rendering: geometricPrecision
      &.arrow-prev
        top: calc(50% - 12px)
        left: 0
        opacity: 0
        -webkit-transform: translateX(17px)
        transform: translateX(17px)
        -webkit-transition: transform .2s ease-out,opacity .2s ease-out
        transition: transform .2s ease-out,opacity .2s ease-out
      &.arrow-next
        right: 0
        top: calc(50% - 12px)
        opacity: 1
        -webkit-transform: translateX(-33px)
        transform: translateX(-33px)
        -webkit-transition: transform .2s .25s ease-out,opacity .2s .25s ease-out
        transition: transform .2s .25s ease-out,opacity .2s .25s ease-out
      path
        fill: transparent
        stroke: currentColor
        stroke-width: 1
  &:hover,
  &:focus
    color: $white
    &.with-arrow
      span
        padding-right: 0
        padding-left: 30px
      svg
        &.arrow-prev
          opacity: 1
          -webkit-transform: translateX(33px)
          transform: translateX(33px)
        &.arrow-next
          opacity: 0
          -webkit-transform: translateX(-17px)
          transform: translateX(-17px)
      &.orange
        &:hover,
        &:focus
          background-color: $orange
      &.blue
        &:hover,
        &:focus
          background-color: $blue
  &.orange
    background-color: $orange
    &:hover,
    &:focus
      background-color: #ff9436
  &.blue
    background-color: $blue
    &:hover,
    &:focus
      background-color: #626ae5
  &.fb, &.google
    padding: 10px 35px
    i
      font-size: 1.6rem
  &.fb
    background-color: #395599
    &:hover,
    &:focus
      background-color: #395599
  &.google
    background-color: #e34133
    &:hover,
    &:focus
      background-color: #e34133