@import "../partials/variables"

.overflow-y-auto
  overflow-y: auto

.bg-light-blue
  background-color: $blue_light

.bg-black
  background-color: $black

.bg-blue
  background-color: $blue

.bg-orange
  background-color: $orange

.grey-box
  h5
    font-size: 0.9rem

body
  background-color: #f0f4f5

a.logo
  font-size: 1.2rem
  img
    max-width: 50px
    max-height: 50px

.nav-course
  width: 270px
  @media screen and (max-width: 576px)
    width: 100%

.btn-top
  i
    font-size: 1.2rem
    color: $grey
    &:hover
      color: $blue

.popover.blue
  background-color: $black
  min-width: 200px
  text-align: center
  .popover-body
    color: $white
    border: none
    padding: 0.75rem
  &.bs-popover-auto[x-placement^="left"] > .arrow::after, &.bs-popover-left > .arrow::after
    border: none
  &.bs-popover-auto[x-placement^="left"] > .arrow::before, &.bs-popover-left > .arrow::before
    border-left-color: $black
    right: 1px
  &.bs-popover-auto[x-placement^="bottom"] > .arrow::before, &.bs-popover-bottom > .arrow::before
    top: 1px
    border-bottom-color: $black
  &.bs-popover-auto[x-placement^="bottom"] > .arrow::after, &.bs-popover-bottom > .arrow::after
    border: none
  &.bs-popover-auto[x-placement^="top"] > .arrow::before, &.bs-popover-top > .arrow::before
    bottom: 1px
    border-top-color: $black
  &.bs-popover-auto[x-placement^="top"] > .arrow::after, &.bs-popover-top > .arrow::after
    border: none

.tag-xp
  font-size: 1rem

.tag-button
  min-height: 25px
  min-width: 25px

.take-hint
  font-size: 1.2rem

.take-circle
  min-width: 25px
  min-height: 25px

.progress-bar-lesson
  bottom: 20px
  left: 0

.custom-bar
  height: 8px
  width: 500px
  background-color: $white
  .progress-bar
    background-color: $blue

.border-light-blue
  border-color: $blue_light

.center-block
  top: 50px
  bottom: 10px
  right: 10px
  left: 10px
  position: absolute
  @media screen and (max-width: 768px)
    position: relative
    top: 0
    right: 0
    left: 0
  &.with-progress
    bottom: 32px

.cursor-pointer
  cursor: pointer

