@font-face
  font-family: "MontserratMedium"
  src: url('../fonts/MontserratMedium.eot')
  src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'), url('../fonts/MontserratMedium.woff2') format('woff2'), url('../fonts/MontserratMedium.woff') format('woff'),  url('../fonts/MontserratMedium.ttf') format('truetype'), url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg')

@font-face
  font-family: 'courses-icon'
  src:  url('../fonts/courses-icon.eot?zblsqw')
  src:  url('../fonts/courses-icon.eot?zblsqw#iefix') format('embedded-opentype'),
  url('../fonts/courses-icon.ttf?zblsqw') format('truetype'),
  url('../fonts/courses-icon.woff?zblsqw') format('woff'),
  url('../fonts/courses-icon.svg?zblsqw#courses-icon') format('svg')
  font-weight: normal
  font-style: normal


