@import "../partials/variables"

input,input.form-control
  background-color: $blue-light
  color: $black
  margin: 0
  height: 3rem
  line-height: 3rem
  display: block
  text-align: left
  padding: 0 1rem
  border: 1px solid transparent
  border-radius: 4px
  font-size: 1rem

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus
  border: 1px solid $blue
  color: $black
  box-shadow: none
  background-color: $blue-light

input[type="number"] 
  -moz-appearance: textfield

input[type="number"]::-webkit-inner-spin-button 
  display: none

::-webkit-input-placeholder,.form-control::-webkit-input-placeholder
  font-size: 1em
  color: $black

::-moz-placeholder,.form-control::-moz-placeholder
  color: $black
  font-size: 1em

textarea, textarea.form-control
  background-color: $blue_light
  color: $black
  margin: 0
  height: 160px
  line-height: 1.2rem
  display: block
  text-align: left
  padding: 1rem
  border: 1px solid transparent
  border-radius: 4px
  font-size: 1rem
  box-shadow: none
  resize: none

input[type="checkbox"]
  display: none

input[type="checkbox"] + label
  cursor: pointer
  margin-bottom: 0
  display: flex

input[type="checkbox"] + label:before
  cursor: pointer
  border: none
  content: "\e912"
  color: $grey
  font-family: 'courses-icon', serif
  font-size: 1rem
  line-height: 1.4rem
  padding: 0 .5rem 0 0

input[type="checkbox"]:checked + label:before
  background-color: transparent
  cursor: pointer
  content: "\e911"
  color: $blue
  font-family: 'courses-icon', serif
  font-size: 1rem
  line-height: 1.4rem
  padding: 0 .5rem 0 0

input[type="radio"]
  display: none

input[type="radio"] + label
  cursor: pointer
  margin-bottom: 0
  display: flex

input[type="radio"] + label:before
  background-color: transparent
  cursor: pointer
  border: none
  content: "\e907"
  color: $grey
  font-family: 'courses-icon', serif
  font-size: 1rem
  line-height: 1.4rem
  padding: 0 .5rem 0 0


input[type="radio"]:checked + label:before
  display: inline-block
  background-color: transparent
  cursor: pointer
  content: "\e908"
  color: $blue
  font-family: 'courses-icon', serif
  font-size: 1rem
  line-height: 1.4rem
  padding: 0 .5rem 0 0

.cr-text
  line-height: 1.4rem

select, select.form-control
  background-color: $blue_light
  background-image: none
  border: 1px solid $blue_light
  border-radius: 4px
  box-sizing: border-box
  color: $black
  cursor: pointer
  position: relative
  padding: .525em .9375em
  -webkit-appearance: none
  width: 100%
  -moz-appearance: none
  height: 3rem

select::before, select.form-control::before
  display: block
  content: "\e90f"
  position: absolute
  top: 5px
  right: 10px