@import "../partials/variables"

.modal-standart
  .modal-header
    .modal-title
      font-size: 1.6rem
      font-weight: bold
    .close
      background-color: $blue
      border-radius: 50%
      border: none
      color: $white
      height: 40px
      position: absolute
      right: -5px
      top: -5px
      width: 40px
      font-size: 0.8rem
      opacity: 1
      z-index: 2

.modal-lessons
  .modal-content
    padding-bottom: 65px
    max-height: calc(100vh - 3.5rem)
  .modal-body
    overflow-y: auto
  .modal-footer
    left: 0
    right: 0
    bottom: 0
  .lesson
    .badge-course
      width: 30px
      height: 30px
      min-width: 30px
    a
      &:hover,&:focus
        color: $black
    &.done
      background-color: $blue_light
      a
        color: $grey
        &:hover,&:focus
          color: $grey
      i
        display: block
    @media screen and (max-width: 575px)
      font-size: 0.9rem

.hr
  height: 1px