@import "../partials/variables"

* html,
body
  background-color: $white
  font-family: $main_font
  color: $black
  font-weight: $regular

html,
body
  height: 100%
  min-height: 100%
  font-size: 14px

a,button.link
  color: $black
  &:active
    color: $orange
  &:hover,&:focus
    color: $orange
    text-decoration: none

h1
  font-size: 3rem
  color: $black
  line-height: 4rem

h2
  font-size: 2.8rem
  line-height: 3rem
  color: $black

h3
  font-size: 2.5rem
  line-height: 2.8rem

h4
  font-size: 2rem
  line-height: 2.2rem

h5
  font-size: 1.2rem
  line-height: 1.4rem

h6
  font-size: 1.1rem
  line-height: 1.3rem

h1, h2, h3, h4, h5, h6
  color: $black
  line-height: 1.25

p
  margin: 10px 0
  color: $grey
  font-weight:
  font-size: 1rem
  line-height: 1.8rem

.text-medium
  font-size: 1.25rem

.text-tiny
  font-size: 0.9rem

.color-grey
  color: $grey

.color-white
  color: $white

.color-black
  color: $black

.color-blue
  color: $blue

.color-orange
  color: $orange

.letter-spacing-02
  letter-spacing: 0.02rem

.rem-12
  font-size: 1.2rem

@media screen and (max-width: 992px)
  h1,.h1-title
    font-size: 2rem
    line-height: 2.4rem
  h2
    font-size: 2rem
    line-height: 2.2rem
  h3
    font-size: 1.5rem
    line-height: 1.7rem
  h4,h5,h6
    font-size: 1.2rem
    line-height: 1.3rem