.edit-menu {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1011;
}
.edit-menu .navbar a.nav-link{
    color: #FC8665;
}
.file-input-button-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    height: 74px;
    margin-top: -37px;
}
.file-input-button {
    background-color: #FC8665;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    padding: 24px 52px 22px;
    font-size: 20px;
    cursor: pointer;
}
.file-preview {
    border: none;
    padding: 0;
}
.file-drop-zone {
    margin: 0;
    height: 500px;
    position: relative;
    border: 3px dashed #EBEBEB;
}
.file-drop-zone.clickable:hover {
    border: 3px dashed #999;
}
.file-drop-zone-title {
    padding: 0;
    margin-top: 20px;
}
.file-drop-zone .file-preview-thumbnails{
    display: none;
}
