@charset "UTF-8";
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }

@font-face {
  font-family: 'courses-icon';
  src: url("../fonts/courses-icon.eot?zblsqw");
  src: url("../fonts/courses-icon.eot?zblsqw#iefix") format("embedded-opentype"), url("../fonts/courses-icon.ttf?zblsqw") format("truetype"), url("../fonts/courses-icon.woff?zblsqw") format("woff"), url("../fonts/courses-icon.svg?zblsqw#courses-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, address, cite, code, em, img,
small, strong, sub, tt,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  line-height: 1; }

ul,
ol {
  list-style-position: inside; }

ul.no-list li {
  list-style: none;
  margin: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

a:focus,
button:focus,
div:focus {
  outline: 0; }

* html,
body {
  background-color: #fff;
  font-family: "MontserratMedium", sans-serif;
  color: #08104d;
  font-weight: 500; }

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 14px; }

a, button.link {
  color: #08104d; }
  a:active, button.link:active {
    color: #ff4b36; }
  a:hover, a:focus, button.link:hover, button.link:focus {
    color: #ff4b36;
    text-decoration: none; }

h1 {
  font-size: 3rem;
  color: #08104d;
  line-height: 4rem; }

h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  color: #08104d; }

h3 {
  font-size: 2.5rem;
  line-height: 2.8rem; }

h4 {
  font-size: 2rem;
  line-height: 2.2rem; }

h5 {
  font-size: 1.2rem;
  line-height: 1.4rem; }

h6 {
  font-size: 1.1rem;
  line-height: 1.3rem; }

h1, h2, h3, h4, h5, h6 {
  color: #08104d;
  line-height: 1.25; }

p {
  margin: 10px 0;
  color: #666a80;
  font-size: 1rem;
  line-height: 1.8rem; }

.text-medium {
  font-size: 1.25rem; }

.text-tiny {
  font-size: 0.9rem; }

.color-grey {
  color: #666a80; }

.color-white {
  color: #fff; }

.color-black {
  color: #08104d; }

.color-blue {
  color: #3e49f3; }

.color-orange {
  color: #ff4b36; }

.letter-spacing-02 {
  letter-spacing: 0.02rem; }

.rem-12 {
  font-size: 1.2rem; }

@media screen and (max-width: 992px) {
  h1, .h1-title {
    font-size: 2rem;
    line-height: 2.4rem; }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.5rem;
    line-height: 1.7rem; }
  h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 1.3rem; } }

.button {
  position: relative;
  color: #fff;
  background-color: #08104d;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: .03em;
  font-weight: 600;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
  border-radius: 10px;
  padding: 20px 38px;
  cursor: pointer; }
  .button.font-big {
    font-size: 1.4rem; }
  .button.small {
    padding: 10px;
    border-radius: 5px; }
  .button.with-arrow span {
    padding-right: 30px;
    -webkit-transition: padding .17s 80ms ease-in-out;
    transition: padding .17s 80ms ease-in-out; }
  .button.with-arrow svg {
    position: absolute;
    width: 25px;
    shape-rendering: geometricPrecision; }
    .button.with-arrow svg.arrow-prev {
      top: calc(50% - 12px);
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(17px);
      transform: translateX(17px);
      -webkit-transition: transform .2s ease-out,opacity .2s ease-out;
      transition: transform .2s ease-out,opacity .2s ease-out; }
    .button.with-arrow svg.arrow-next {
      right: 0;
      top: calc(50% - 12px);
      opacity: 1;
      -webkit-transform: translateX(-33px);
      transform: translateX(-33px);
      -webkit-transition: transform .2s .25s ease-out,opacity .2s .25s ease-out;
      transition: transform .2s .25s ease-out,opacity .2s .25s ease-out; }
    .button.with-arrow svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1; }
  .button:hover, .button:focus {
    color: #fff; }
    .button:hover.with-arrow span, .button:focus.with-arrow span {
      padding-right: 0;
      padding-left: 30px; }
    .button:hover.with-arrow svg.arrow-prev, .button:focus.with-arrow svg.arrow-prev {
      opacity: 1;
      -webkit-transform: translateX(33px);
      transform: translateX(33px); }
    .button:hover.with-arrow svg.arrow-next, .button:focus.with-arrow svg.arrow-next {
      opacity: 0;
      -webkit-transform: translateX(-17px);
      transform: translateX(-17px); }
    .button:hover.with-arrow.orange:hover, .button:hover.with-arrow.orange:focus, .button:focus.with-arrow.orange:hover, .button:focus.with-arrow.orange:focus {
      background-color: #ff4b36; }
    .button:hover.with-arrow.blue:hover, .button:hover.with-arrow.blue:focus, .button:focus.with-arrow.blue:hover, .button:focus.with-arrow.blue:focus {
      background-color: #3e49f3; }
  .button.orange {
    background-color: #ff4b36; }
    .button.orange:hover, .button.orange:focus {
      background-color: #ff9436; }
  .button.blue {
    background-color: #3e49f3; }
    .button.blue:hover, .button.blue:focus {
      background-color: #626ae5; }
  .button.fb, .button.google {
    padding: 10px 35px; }
    .button.fb i, .button.google i {
      font-size: 1.6rem; }
  .button.fb {
    background-color: #395599; }
    .button.fb:hover, .button.fb:focus {
      background-color: #395599; }
  .button.google {
    background-color: #e34133; }
    .button.google:hover, .button.google:focus {
      background-color: #e34133; }

input, input.form-control {
  background-color: #f2f7ff;
  color: #08104d;
  margin: 0;
  height: 3rem;
  line-height: 3rem;
  display: block;
  text-align: left;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem; }

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  border: 1px solid #3e49f3;
  color: #08104d;
  box-shadow: none;
  background-color: #f2f7ff; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button {
  display: none; }

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  font-size: 1em;
  color: #08104d; }

::-moz-placeholder, .form-control::-moz-placeholder {
  color: #08104d;
  font-size: 1em; }

textarea, textarea.form-control {
  background-color: #f2f7ff;
  color: #08104d;
  margin: 0;
  height: 160px;
  line-height: 1.2rem;
  display: block;
  text-align: left;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none;
  resize: none; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex; }

input[type="checkbox"] + label:before {
  cursor: pointer;
  border: none;
  content: "\e912";
  color: #666a80;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="checkbox"]:checked + label:before {
  background-color: transparent;
  cursor: pointer;
  content: "\e911";
  color: #3e49f3;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex; }

input[type="radio"] + label:before {
  background-color: transparent;
  cursor: pointer;
  border: none;
  content: "\e907";
  color: #666a80;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="radio"]:checked + label:before {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  content: "\e908";
  color: #3e49f3;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

.cr-text {
  line-height: 1.4rem; }

select, select.form-control {
  background-color: #f2f7ff;
  background-image: none;
  border: 1px solid #f2f7ff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #08104d;
  cursor: pointer;
  position: relative;
  padding: .525em .9375em;
  -webkit-appearance: none;
  width: 100%;
  -moz-appearance: none;
  height: 3rem; }

select::before, select.form-control::before {
  display: block;
  content: "\e90f";
  position: absolute;
  top: 5px;
  right: 10px; }

.modal-standart .modal-header .modal-title {
  font-size: 1.6rem;
  font-weight: bold; }

.modal-standart .modal-header .close {
  background-color: #3e49f3;
  border-radius: 50%;
  border: none;
  color: #fff;
  height: 40px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 40px;
  font-size: 0.8rem;
  opacity: 1;
  z-index: 2; }

.modal-lessons .modal-content {
  padding-bottom: 65px;
  max-height: calc(100vh - 3.5rem); }

.modal-lessons .modal-body {
  overflow-y: auto; }

.modal-lessons .modal-footer {
  left: 0;
  right: 0;
  bottom: 0; }

.modal-lessons .lesson a:hover, .modal-lessons .lesson a:focus {
  color: #08104d; }

.modal-lessons .lesson i {
  display: none; }

.modal-lessons .lesson.done {
  background-color: #f2f7ff; }
  .modal-lessons .lesson.done a {
    color: #666a80; }
    .modal-lessons .lesson.done a:hover, .modal-lessons .lesson.done a:focus {
      color: #666a80; }
  .modal-lessons .lesson.done i {
    display: block; }

.hr {
  height: 1px; }

.wrapper {
  max-width: 1400px; }

.wrapper-small {
  max-width: 635px; }

a.logo {
  font-size: 1.2rem; }
  a.logo img {
    max-width: 50px;
    max-height: 50px; }

ul.top-menu {
  height: 100px; }
  @media screen and (max-width: 768px) {
    ul.top-menu {
      height: auto;
      width: 80%; } }
  ul.top-menu li {
    display: inline-flex;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 768px) {
      ul.top-menu li {
        display: block;
        height: auto; } }
    ul.top-menu li a {
      position: relative;
      padding: 0 30px;
      font-size: 1.35rem;
      line-height: 1.5rem; }
      @media screen and (max-width: 768px) {
        ul.top-menu li a {
          padding: 10px 0;
          display: block;
          border-bottom: 1px solid #d7e3f7; } }
      ul.top-menu li a svg {
        position: absolute;
        left: 0;
        top: calc(50% - 12px);
        width: 25px;
        height: 25px;
        fill: currentColor;
        opacity: 0;
        -webkit-transform: translateX(-16px);
        transform: translateX(-16px);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out; }
        @media screen and (max-width: 768px) {
          ul.top-menu li a svg {
            display: none; } }
        ul.top-menu li a svg path {
          fill: transparent;
          stroke: currentColor;
          stroke-width: 1; }
      ul.top-menu li a:hover svg, ul.top-menu li a:focus svg {
        opacity: 1;
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px); }

.gamb-button {
  height: 60px;
  width: 60px;
  background-color: #08104d; }
  .gamb-button .bars {
    position: relative;
    display: block;
    width: 30px;
    height: 11px;
    left: calc(50% - 15px);
    top: calc(50% - 5px); }
    .gamb-button .bars .icon-bar {
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      border-radius: 12px; }
      .gamb-button .bars .icon-bar:nth-child(1) {
        top: 0; }
      .gamb-button .bars .icon-bar:nth-child(2) {
        top: 5px; }
      .gamb-button .bars .icon-bar:nth-child(3) {
        bottom: 0; }

.highlight {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  padding-bottom: 1px; }
  .highlight span {
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .highlight:after {
    content: attr(data-text);
    color: #ff4b36;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: transform .5s .2s,opacity 0s .1s;
    transition: transform .5s .2s,opacity 0s .1s; }
    .appear .highlight:after {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  .appear .highlight span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: transform .5s .2s,opacity 0s .5s;
    transition: transform .5s .2s,opacity 0s .5s; }

.main-slide .img img {
  max-width: 100%; }

.video {
  max-width: 1000px; }

ul.slick-dots {
  width: auto; }
  ul.slick-dots li {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0; }
    ul.slick-dots li button {
      margin: 6px;
      padding: 0;
      width: 4px;
      height: 4px;
      background-color: #08104d;
      border-radius: 50%; }
      ul.slick-dots li button:before {
        display: none; }
    ul.slick-dots li.slick-active button {
      margin: 0;
      width: 10px;
      height: 10px;
      background-color: #ff4b36; }

.offer-item .img img {
  -webkit-transition: all 0.35s cubic-bezier(0.38, 3, 0.57, 1.6);
  transition: all 0.35s cubic-bezier(0.38, 3, 0.57, 1.6); }

.offer-item:hover .img img {
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0); }

.offer-item .title:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #3e49f3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.bg-light-blue {
  background-color: #f2f7ff; }

.bg-blue {
  background-color: #3e49f3; }

.bg-orange {
  background-color: #ff4b36; }

.we-offer {
  margin-top: -3rem; }
  .we-offer div.bg-light-blue {
    padding-top: 1.5rem; }

.tariff-price {
  font-size: 4.2rem; }
  .tariff-price .currency {
    font-size: 2.2rem; }

ul.check li {
  padding: 7px 0;
  font-size: 1.25rem; }
  ul.check li:before {
    content: '✔';
    color: #08104d;
    margin-right: 10px; }

.tariff-title {
  font-size: 2rem;
  line-height: 2.2rem; }

.square-over {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0; }

.square-description {
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0); }

.square:hover .square-over {
  opacity: 1; }

.square:hover .square-description {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.go-top {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 25px;
  bottom: 25px;
  z-index: 500;
  background-color: #ff4b36; }
  .go-top.on {
    opacity: 1; }
  .go-top svg {
    position: absolute;
    height: 25px;
    width: 25px;
    transition: transform .2s ease-out,opacity .2s ease-out;
    -webkit-transition: transform .2s ease-out,opacity .2s ease-out;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    color: #fff; }
    .go-top svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1; }
    .go-top svg:first-child {
      opacity: 1; }
    .go-top svg:last-child {
      opacity: 0;
      -webkit-transform: translateY(17px);
      transform: translateY(17px); }
  .go-top:hover svg:first-child, .go-topfocus svg:first-child {
    opacity: 0; }
  .go-top:hover svg:last-child, .go-topfocus svg:last-child {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.landing h1,
.landing .h1-title {
  font-size: 4.2rem;
  line-height: 4.5rem; }
  @media screen and (max-width: 992px) {
    .landing h1,
    .landing .h1-title {
      font-size: 2.3rem;
      line-height: 2.6rem; } }

.landing h2 {
  font-size: 3.7rem;
  line-height: 3.9rem; }
  @media screen and (max-width: 992px) {
    .landing h2 {
      font-size: 2.2rem;
      line-height: 2.4rem; } }

.landing h3 {
  font-size: 2.7rem;
  line-height: 3rem; }
  @media screen and (max-width: 992px) {
    .landing h3 {
      font-size: 1.7rem;
      line-height: 1.9rem; } }

.landing h4 {
  font-size: 2.2rem;
  line-height: 2.4rem; }
  @media screen and (max-width: 992px) {
    .landing h4 {
      font-size: 1.4rem;
      line-height: 1.5rem; } }

.landing h5 {
  font-size: 1.8rem;
  line-height: 2rem; }
  @media screen and (max-width: 992px) {
    .landing h5 {
      font-size: 1.4rem;
      line-height: 1.5rem; } }

.landing h6 {
  font-size: 1.4rem;
  line-height: 1.6rem; }
  @media screen and (max-width: 992px) {
    .landing h6 {
      font-size: 1.4rem;
      line-height: 1.5rem; } }

.landing p {
  margin: 10px 0;
  color: #666a80;
  font-size: 1.2rem;
  line-height: 2rem; }

.landing .text-medium {
  font-size: 1.45rem; }

.landing .text-tiny {
  font-size: 1.1rem; }
