@import "../../partials/variables"

* html,
body
  background-color: $white
  font-size: 14px
  font-family: $main_font
  color: $black
  font-weight: $regular

html,
body
  height: 100%
  min-height: 100%

a
  color: $black
  &:active
    color: $orange
  &:hover,&:focus
    color: $orange
    text-decoration: none

h1, .h1-title
  font-size: 4rem
  color: $black
  line-height: 4.3rem

h2
  font-size: 3.5rem
  line-height: 3.7rem
  color: $black

h3
  font-size: 2.5rem
  line-height: 2.8rem

h4
  font-size: 2rem
  line-height: 2.2rem

h5
  font-size: 1.6rem
  line-height: 1.8rem

h6
  font-size: 1.2rem
  line-height: 1.3rem

p
  margin: 10px 0
  color: $grey
  font-weight:
  font-size: 1rem
  line-height: 1.8rem

.text-medium
  font-size: 1.25rem

.text-tiny
  font-size: 0.9rem

.color-grey
  color: $grey

.color-black
  color: $black

.letter-spacing-02
  letter-spacing: 0.02rem

@media screen and (max-width: 992px)
  h1,.h1-title
    font-size: 2rem
    line-height: 2.4rem
  h2
    font-size: 2rem
    line-height: 2.2rem
  h3
    font-size: 1.5rem
    line-height: 1.7rem
  h4,h5,h6
    font-size: 1.2rem
    line-height: 1.3rem