@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }

@font-face {
  font-family: 'courses-icon';
  src: url("../fonts/courses-icon.eot?zblsqw");
  src: url("../fonts/courses-icon.eot?zblsqw#iefix") format("embedded-opentype"), url("../fonts/courses-icon.ttf?zblsqw") format("truetype"), url("../fonts/courses-icon.woff?zblsqw") format("woff"), url("../fonts/courses-icon.svg?zblsqw#courses-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, address, cite, code, em, img,
small, strong, sub, tt,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  line-height: 1; }

ul,
ol {
  list-style-position: inside; }

ul.no-list li {
  list-style: none;
  margin: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

a:focus,
button:focus,
div:focus {
  outline: 0; }

* html,
body {
  background-color: #fff;
  font-family: "MontserratMedium", sans-serif;
  color: #08104d;
  font-weight: 500; }

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 14px; }

a, button.link {
  color: #08104d; }
  a:active, button.link:active {
    color: #ff4b36; }
  a:hover, a:focus, button.link:hover, button.link:focus {
    color: #ff4b36;
    text-decoration: none; }

h1 {
  font-size: 3rem;
  color: #08104d;
  line-height: 4rem; }

h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  color: #08104d; }

h3 {
  font-size: 2.5rem;
  line-height: 2.8rem; }

h4 {
  font-size: 2rem;
  line-height: 2.2rem; }

h5 {
  font-size: 1.2rem;
  line-height: 1.4rem; }

h6 {
  font-size: 1.1rem;
  line-height: 1.3rem; }

h1, h2, h3, h4, h5, h6 {
  color: #08104d;
  line-height: 1.25; }

p {
  margin: 10px 0;
  color: #666a80;
  font-size: 1rem;
  line-height: 1.8rem; }

.text-medium {
  font-size: 1.25rem; }

.text-tiny {
  font-size: 0.9rem; }

.color-grey {
  color: #666a80; }

.color-white {
  color: #fff; }

.color-black {
  color: #08104d; }

.color-blue {
  color: #3e49f3; }

.color-orange {
  color: #ff4b36; }

.letter-spacing-02 {
  letter-spacing: 0.02rem; }

.rem-12 {
  font-size: 1.2rem; }

@media screen and (max-width: 992px) {
  h1, .h1-title {
    font-size: 2rem;
    line-height: 2.4rem; }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.5rem;
    line-height: 1.7rem; }
  h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 1.3rem; } }

input, input.form-control {
  background-color: #f2f7ff;
  color: #08104d;
  margin: 0;
  height: 3rem;
  line-height: 3rem;
  display: block;
  text-align: left;
  padding: 0 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem; }

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  border: 1px solid #3e49f3;
  color: #08104d;
  box-shadow: none;
  background-color: #f2f7ff; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button {
  display: none; }

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  font-size: 1em;
  color: #08104d; }

::-moz-placeholder, .form-control::-moz-placeholder {
  color: #08104d;
  font-size: 1em; }

textarea, textarea.form-control {
  background-color: #f2f7ff;
  color: #08104d;
  margin: 0;
  height: 160px;
  line-height: 1.2rem;
  display: block;
  text-align: left;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: none;
  resize: none; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex; }

input[type="checkbox"] + label:before {
  cursor: pointer;
  border: none;
  content: "\e912";
  color: #666a80;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="checkbox"]:checked + label:before {
  background-color: transparent;
  cursor: pointer;
  content: "\e911";
  color: #3e49f3;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  cursor: pointer;
  margin-bottom: 0;
  display: flex; }

input[type="radio"] + label:before {
  background-color: transparent;
  cursor: pointer;
  border: none;
  content: "\e907";
  color: #666a80;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

input[type="radio"]:checked + label:before {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  content: "\e908";
  color: #3e49f3;
  font-family: 'courses-icon', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0 .5rem 0 0; }

.cr-text {
  line-height: 1.4rem; }

select, select.form-control {
  background-color: #f2f7ff;
  background-image: none;
  border: 1px solid #f2f7ff;
  border-radius: 4px;
  box-sizing: border-box;
  color: #08104d;
  cursor: pointer;
  position: relative;
  padding: .525em .9375em;
  -webkit-appearance: none;
  width: 100%;
  -moz-appearance: none;
  height: 3rem; }

select::before, select.form-control::before {
  display: block;
  content: "\e90f";
  position: absolute;
  top: 5px;
  right: 10px; }

.modal-standart .modal-header .modal-title {
  font-size: 1.6rem;
  font-weight: bold; }

.modal-standart .modal-header .close {
  background-color: #3e49f3;
  border-radius: 50%;
  border: none;
  color: #fff;
  height: 40px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 40px;
  font-size: 0.8rem;
  opacity: 1;
  z-index: 2; }

.modal-lessons .modal-content {
  padding-bottom: 65px;
  max-height: calc(100vh - 3.5rem); }

.modal-lessons .modal-body {
  overflow-y: auto; }

.modal-lessons .modal-footer {
  left: 0;
  right: 0;
  bottom: 0; }

.modal-lessons .lesson a:hover, .modal-lessons .lesson a:focus {
  color: #08104d; }

.modal-lessons .lesson i {
  display: none; }

.modal-lessons .lesson.done {
  background-color: #f2f7ff; }
  .modal-lessons .lesson.done a {
    color: #666a80; }
    .modal-lessons .lesson.done a:hover, .modal-lessons .lesson.done a:focus {
      color: #666a80; }
  .modal-lessons .lesson.done i {
    display: block; }

.hr {
  height: 1px; }

.button {
  position: relative;
  color: #fff;
  background-color: #08104d;
  font-size: 1rem;
  line-height: 1em;
  letter-spacing: .03em;
  font-weight: 600;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
  border-radius: 10px;
  padding: 20px 38px;
  cursor: pointer; }
  .button.font-big {
    font-size: 1.4rem; }
  .button.small {
    padding: 10px;
    border-radius: 5px; }
  .button.with-arrow span {
    padding-right: 30px;
    -webkit-transition: padding .17s 80ms ease-in-out;
    transition: padding .17s 80ms ease-in-out; }
  .button.with-arrow svg {
    position: absolute;
    width: 25px;
    shape-rendering: geometricPrecision; }
    .button.with-arrow svg.arrow-prev {
      top: calc(50% - 12px);
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(17px);
      transform: translateX(17px);
      -webkit-transition: transform .2s ease-out,opacity .2s ease-out;
      transition: transform .2s ease-out,opacity .2s ease-out; }
    .button.with-arrow svg.arrow-next {
      right: 0;
      top: calc(50% - 12px);
      opacity: 1;
      -webkit-transform: translateX(-33px);
      transform: translateX(-33px);
      -webkit-transition: transform .2s .25s ease-out,opacity .2s .25s ease-out;
      transition: transform .2s .25s ease-out,opacity .2s .25s ease-out; }
    .button.with-arrow svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1; }
  .button:hover, .button:focus {
    color: #fff; }
    .button:hover.with-arrow span, .button:focus.with-arrow span {
      padding-right: 0;
      padding-left: 30px; }
    .button:hover.with-arrow svg.arrow-prev, .button:focus.with-arrow svg.arrow-prev {
      opacity: 1;
      -webkit-transform: translateX(33px);
      transform: translateX(33px); }
    .button:hover.with-arrow svg.arrow-next, .button:focus.with-arrow svg.arrow-next {
      opacity: 0;
      -webkit-transform: translateX(-17px);
      transform: translateX(-17px); }
  .button.orange {
    background-color: #ff4b36; }
    .button.orange:hover, .button.orange:focus {
      background-color: #ff9436; }
  .button.blue {
    background-color: #3e49f3; }
    .button.blue:hover, .button.blue:focus {
      background-color: #626ae5; }
  .button.fb, .button.google {
    padding: 10px 35px; }
    .button.fb i, .button.google i {
      font-size: 1.6rem; }
  .button.fb {
    background-color: #395599; }
    .button.fb:hover, .button.fb:focus {
      background-color: #395599; }
  .button.google {
    background-color: #e34133; }
    .button.google:hover, .button.google:focus {
      background-color: #e34133; }

.overflow-y-auto {
  overflow-y: auto; }

.bg-light-blue {
  background-color: #f2f7ff; }

.bg-black {
  background-color: #08104d; }

.bg-blue {
  background-color: #3e49f3; }

.bg-orange {
  background-color: #ff4b36; }

.grey-box h5 {
  font-size: 0.9rem; }

body {
  background-color: #f0f4f5; }

a.logo {
  font-size: 1.2rem; }
  a.logo img {
    max-width: 50px;
    max-height: 50px; }

.nav-course {
  width: 270px; }
  @media screen and (max-width: 576px) {
    .nav-course {
      width: 100%; } }

.btn-top i {
  font-size: 1.2rem;
  color: #666a80; }
  .btn-top i:hover {
    color: #3e49f3; }

.popover.blue {
  background-color: #08104d;
  min-width: 200px;
  text-align: center; }
  .popover.blue .popover-body {
    color: #fff;
    border: none;
    padding: 0.75rem; }
  .popover.blue.bs-popover-auto[x-placement^="left"] > .arrow::after, .popover.blue.bs-popover-left > .arrow::after {
    border: none; }
  .popover.blue.bs-popover-auto[x-placement^="left"] > .arrow::before, .popover.blue.bs-popover-left > .arrow::before {
    border-left-color: #08104d;
    right: 1px; }
  .popover.blue.bs-popover-auto[x-placement^="bottom"] > .arrow::before, .popover.blue.bs-popover-bottom > .arrow::before {
    top: 1px;
    border-bottom-color: #08104d; }
  .popover.blue.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .popover.blue.bs-popover-bottom > .arrow::after {
    border: none; }

.tag-xp {
  font-size: 1rem; }

.tag-button {
  min-height: 25px;
  min-width: 25px; }

.take-hint {
  font-size: 1.2rem; }

.take-circle {
  min-width: 25px;
  min-height: 25px; }

.custom-bar {
  height: 8px;
  background-color: #f2f7ff; }
  .custom-bar .progress-bar {
    background-color: #3e49f3; }

.border-light-blue {
  border-color: #f2f7ff; }

.center-block {
  top: 50px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  position: absolute; }
  @media screen and (max-width: 768px) {
    .center-block {
      position: relative;
      top: 0;
      right: 0;
      left: 0; } }
  .center-block.with-progress {
    bottom: 32px; }

.wizard-content {
  max-width: 1920px; }

[data-action="remove-contact"]:hover,
[data-action="remove-contact"]:focus {
  text-decoration: none; }

.popover.note {
  width: 20%;
  max-width: 20%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #effbea;
  background-color: #f2f7ff;
  padding: 1rem; }
  .popover.note .popover-body {
    border: none;
    padding: 0.75rem 0;
    font-size: 1rem;
    color: #666a80; }
  .popover.note .popover-header {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    border-radius: 0;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #08104d;
    display: flex;
    align-content: center; }
    .popover.note .popover-header:before {
      content: '\e906';
      font-family: 'courses-icon', sans-serif;
      color: #fff;
      background-color: #78CDD2;
      border-radius: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      padding: 0 0.4rem;
      margin-right: 1rem;
      font-size: 2rem; }
  @media screen and (max-width: 992px) {
    .popover.note {
      display: none; } }

/****END NOTES****/
.progress-menu-nav {
  top: 0; }

.selectize-multi > div {
  height: auto; }

.affix {
  top: 60px;
  padding-right: 20px; }

.step-map {
  height: 240px; }

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.progress-menu {
  margin-bottom: 30px; }
  .progress-menu a.list-group-item {
    display: block;
    padding: 10px 20px 5px;
    color: #000;
    font-size: 14px;
    min-height: 40px;
    line-height: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ededed;
    border-bottom: 2px solid #ededed;
    position: relative; }
    .progress-menu a.list-group-item:hover, .progress-menu a.list-group-item:focus {
      color: #000; }
    .progress-menu a.list-group-item.active {
      background-color: #fff;
      border-color: #ededed; }
    .progress-menu a.list-group-item.ok .good-mark,
    .progress-menu a.list-group-item.step-error .progress-error {
      display: block; }

.good-mark {
  /*display: none*/
  color: #03c04a;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 12px; }

.progress-error {
  /*display: none*/
  color: #c42020;
  position: absolute;
  right: 15px;
  top: 12px;
  line-height: 15px; }

.wizard-step-header {
  font-size: 18px;
  line-height: 18px;
  border-bottom: 3px solid #f2f2f2;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #000;
  letter-spacing: 0.02em; }

.wizard-step-header span {
  font-size: 14px;
  color: #888; }

.subtype-step {
  display: none; }

.subtype-step.active {
  display: block; }

.wizard-photo-small-preview {
  width: 100px;
  height: 100px;
  margin: 5px; }

.wizard-photo-small-preview img {
  width: 100%; }

.plus-phone {
  padding-right: 50px;
  position: relative; }

.plus-phone .input-group-addon {
  font-size: 20px;
  background-color: #fff;
  cursor: pointer; }

.plus-btn {
  right: 0;
  top: 0;
  position: absolute;
  background-color: #e33989;
  line-height: 35px;
  width: 35px;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  height: 35px;
  cursor: pointer; }

.plus-phone-block:not(:last-child) .plus-btn {
  display: none; }

.plus-btn:hover,
.plus-btn:focus {
  color: #fff;
  text-decoration: none; }

.plus-comment-btn {
  line-height: 20px;
  white-space: nowrap; }

.plus-comment {
  margin: 20px 0; }

.plus-comment input {
  display: none; }

.pre-view {
  margin: 20px 0;
  font-size: 17px; }
